# Ignore output_files  directory
output_files/
#ignore sampl/output_files directory
sampl/output_files/
#ignore not_icluded directory
not_included
#ignore NN-simple-stdscaler
NN-simple_stdscaler
#ignore extracted data json and zip  files
extracted_data/*.json
extracted_data/*.xz
sampl/extracted_data/*.json
#sampl/extracted_data/*.xz
#ignore models
models/
#ignore old scripts
scripts/old
