# Ignore output_files  directory
output_files/*optimized
#ignore sampl/output_files directory
sampl/output_files/*optimized
#ignore not_icluded directory
not_included
#ignore NN-simple-stdscaler
NN-simple_stdscaler
#ignore extracted data json and zip  files
extracted_data/*.json
extracted_data/*.xz
sampl/extracted_data/*.json
#sampl/extracted_data/*.xz
#ignore old scripts
scripts/old
#ignore large files
models/*/values_extracted-gibbs-swb97xd.25_all_with_graph_data.csv
models/NN-simple-stdscaler/values_extracted-gibbs-swb97xd.25_std_train.dataset
models/NN-simple-stdscaler/pka_predictor_config.json
#
