# Ignore output_files  directory
output_files/*optimized
#ignore sampl/output_files directory
sampl/output_files/*optimized
#ignore not_icluded directory
not_included
#ignore NN-simple-stdscaler
NN-simple_stdscaler
#ignore extracted data json and zip  files
extracted_data/*.json
extracted_data/*.xz
sampl/extracted_data/*.json
#sampl/extracted_data/*.xz
#ignore old scripts
scripts/old
#ignore large files
models/*/*with_graph_data.csv
models/NN-simple-stdscaler/*.dataset
models/NN-simple-stdscaler/*
scripts/db_analysis/nohup.out
scripts/db_analysis/values_extracted-gibbs-*.csv
scripts/db_analysis/tautomer_scatter.tar
scripts/db_analysis/db_analysis.ipynb
scripts/db_analysis/db_analysis_1.ipynb
scripts/db_analysis/.ipynb_checkpoints
scripts/db_analysis/nohup.out

